hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista__rodape{
    display: none;
}

@media screen and (min-width:1024px) {

    .lista__rodape{
        display: block;
    }
    
    .lista__rodape-link{
        text-decoration: none;
        color: var(--cinza);
        padding-left: 1em;
    }

    .rodape{
        display: flex;
        justify-content: space-evenly;
        padding: 3em 0;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista__rodape-titulo, .lista__rodape-item{
        font-size: 14px;
        padding: 1em;
    }

    .lista__rodape-item{
        padding: 0.5em;
        display: flex;
        align-items: center;
    }

    .lista__rodape-titulo{
        text-transform: uppercase;
    }
    
    
}

@media screen and (min-width:1728px) {

    .lista__rodape{
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }
    
}